.App {
  text-align: center;
}
.Appcontainer{
  background-color:#E8E8E8;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: e3f2fd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-nav .nav-link,
.custom-nav {
  color: #E8E8E8 !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

.custom-nav .nav-link:hover,
.custom-nav .dropdown-toggle:hover {
  color: #FEEAFE !important;
  text-decoration: underline;
  
}
.custom-nav .dropdown-menu .dropdown-item {
  color:#510F52;
  background-color: white ;
  
}

.custom-nav .dropdown-menu .dropdown-item:hover {
  background-color: #510F52;
  color: #E8E8E8;
}

